@font-face {
    font-family: 'monitordisplay';
    src: url('https://comd.agency/webfonts/monitor-display-webfont.woff2') format('woff2'),
         url('https://comd.agency/webfonts/monitor-display-webfont.woff') format('woff'),
         url('https://comd.agency/webfonts/monitor-display-webfont.ttf') format('truetype'),
         url('https://comd.agency/webfonts/monitor-display-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,  caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

html {
    scroll-behavior: smooth;
}

body{
    margin:0;
}

.containerHome {
    /*width: 100%;*/
    min-height: 90vh;
    padding:5vh 5vw 5vh 5vw;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    position:relative;
}

.container {
    /*width: 100%;*/
    min-height: 80vh;
    padding:5vh 5vw 5vh 5vw;
    padding-top: 15vh;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    position:relative;
}

#home {
   background:#292929;
}

#canvas {
    background-color:#1e0e82;
}

#events {
    background-color:#f5c556;
}

#agencyVisits {
    background-color:#f7280c;
}

#about {
    background-color:#292929;
}

/*HOME SECTION*/

#homeLogo {
    display:inline-block;
    position:absolute;
    top:0;
    margin-top:5vh;
    margin-bottom: 5%;
    height:50px;
}

#homeLogo img {
    height:100%;
    width:auto
}

.bottomStuff{
    display:flex;
    width:100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
}

#homeNav{
    display:flex;
    flex-direction:column;
    width: 250px;
    justify-content: flex-end;
}

#homeNav a {
    font-family: 'monitordisplay', serif;
    color: #e8e8e8;
    font-size: 37px;
    letter-spacing: 1px;
    text-decoration: underline;
    text-decoration-color:#e8e8e8;
}

#homeNav a:hover {
    color: #f59a8c;
}

#homeAbout {
    width: 400px;
    font-family: 'aktiv-grotesk-extended', sans-serif;
    color: #e8e8e8;
}

.bottomStuff h1 {
    font-family: 'aktiv-grotesk-extended', sans-serif;
    font-size: 79px;
    letter-spacing: -3.95px;
    text-align: right;
    color: #e8e8e8;
    align-self:flex-end;
    line-height:60px;
    
}

#canvasHeadline {
    position:relative;
    margin-right:auto;
    margin-top:100px;
    margin-bottom:80px;
}

#canvasHeadline h1 {
    font-family: 'monitordisplay', serif;
    color: #e8e8e8;
    font-size: 207px;
    letter-spacing: 5px;
    line-height: 190px;
    text-decoration:underline;
    text-decoration-color: #e8e8e8;
    text-align: left;
}

#canvasHeadline h1:hover  {
    color: #55a0cf;
}

@media (min-width: 1051px) {
    #canvasHeadline {
        display:block; 
    }
    #canvasHeadlineMOBILE {
        display:none;
    }
}

@media (max-width: 1050px) {
    #canvasHeadline {
        display:none;
    }
    #canvasHeadlineMOBILE {
        position:relative;
        margin-right:auto;
        margin-bottom:150px;
        margin-top: 100px;
    }
    #canvasHeadlineMOBILE h1 {
        font-family: 'monitordisplay', serif;
        color: #e8e8e8;
        font-size: 207px;
        letter-spacing: 5px;
        line-height: 190px;
        text-decoration:underline;
        text-decoration-color: #e8e8e8;
        text-align: left;
    }
    #homeNav {
        width: 500px;
        margin-bottom: 50px;
    }
    #homeNav a {
        font-size: 80px;
        letter-spacing: 1.5px;
        line-height:1.2em;
}

}

/*SECTION CONTENT*/

.content {
    display:flex;
    align-items:flex-start;
    flex-direction:column;
    justify-content: flex-start;
    margin:auto;
    margin-left:0;
    max-width:1600px;
}
#canvasContent {
    align-items: flex-start;
}

.content h2 {
    font-family:'aktiv-grotesk-extended', sans-serif;
    font-size:50px;
    font-weight:300;
}

.content h3 {
    font-family:'aktiv-grotesk-extended', sans-serif;
    font-size: 30px;
}


/*BOTTOM BAR*/
.bottomBar {
    position:fixed;
    width:90%;
    top:-10;
    left:0;
    padding:1.5vh 5vw 2vh 5vw;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    height: 60px;
}

.bottomBarBegin {
    position:absolute;
    width:90%;
    top:0;
    left:0;
    padding:1.5vh 5vw 2vh 5vw;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    height: 60px;
}

.bottomBarBegin h3 {
    font-family:'monitordisplay', serif;
    font-size:50px;
    letter-spacing: .5px;
}

.bottomBarBegin img {
    display:inline-block;
    height: 40px;
    width:auto;
    margin-top:10px;
}


.bottomBar h3 {
    font-family:'monitordisplay', serif;
    font-size:50px;
    letter-spacing: .5px;
}

.bottomBar img {
    display:inline-block;
    height: 40px;
    width:auto;
    margin-top:10px;
}

.hiddenBar{
    display: none;
}

.fixed {
    position:fixed;
    width:90%;
    top:0;
    left:0;
    padding:1.5vh 5vw 2vh 5vw;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    height: 60px;
    z-index: 99999999999;
}

.barInfo {
    display: flex;
}

.arrowBack{
    width: 30px;
    height: 65px;
    background-repeat: no-repeat;
    background-position: left;
    margin-right: 10px;
    cursor: pointer;
}

.arrowForward{
    width: 50px;
    height: 65px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
    cursor: pointer;
}

@media (max-width: 1050px){
    .bottomBar {
        position:fixed;
        width:90%;
        top:-10;
        left:0;
        padding:1.5vh 5vw 2vh 5vw;
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        height: 100px;
        align-items: center;
    }

    .bottomBarBegin {
        position:absolute;
        width:90%;
        top:0;
        left:0;
        padding:1.5vh 5vw 2vh 5vw;
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        height: 100px;
        align-items: center;
    }

    .bottomBarBegin h3 {
        font-family:'monitordisplay', serif;
        font-size:80px;
        letter-spacing: .5px;
    }

    .bottomBarBegin img {
        display:inline-block;
        height: 50px;
        width:auto;
        margin-top:10px;
    }


    .bottomBar h3 {
        font-family:'monitordisplay', serif;
        font-size:80px;
        letter-spacing: .5px;
    }

    .bottomBar img {
        display:inline-block;
        height: 50px;
        width:auto;
        margin-top:10px;
    }
    
    .fixed {
        position:fixed;
        width:90%;
        top:0;
        left:0;
        padding:2vh 5vw 2vh 5vw;
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        z-index: 99999999999;
    }
    .arrowBack{
        width: 50px;
        height: 105px;
        background-repeat: no-repeat;
        background-position: left;
        background-size: 25px;
        margin-right: 10px;
        cursor: pointer;
    }

    .arrowForward{
        width: 70px;
        height: 105px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25px;
        margin-left: 10px;
        cursor: pointer;
    }
}

#aBBack {
    background-image: url(images/arrows/arrowLeft.png);
}

#aBForward {
    background-image: url(images/arrows/arrowRight.png);
}

#aYBack {
    background-image: url(images/arrows/arrowLeftYellow.png);
}

#aYForward {
    background-image: url(images/arrows/arrowRightYellow.png);
}

#aRBack {
    background-image: url(images/arrows/arrowLeftRed.png);
}

#aRForward {
    background-image: url(images/arrows/arrowRightRed.png);
}

#aGBack {
    background-image: url(images/arrows/arrowLeftWhite.png);
}

#aGForward {
    background-image: url(images/arrows/arrowRightWhite.png);
}

/*EVENTS SECTION*/
#bottomEvents {
    background-color: #eda64a;
    color:#f5d478;
}

#events .content {
    color: #f5dd8e;
}

#events .content h1 {
    font-family: 'monitordisplay', sans-serif;
    line-height:130px;
    margin-bottom:-10px;
    font-size: 130px;
}

#eventSuggest {
    font-weight:300;
    
}

#eventSuggest a {
    font-weight:700;
    color:#f5dd8e;
    text-decoration: underline;
    text-decoration-color: #f5dd8e;
}

#eventSuggest a:hover {
    color:#e9e9e9;
}

/*AGENCY VISITS SECTION*/
#bottomAgency {
    background-color:#c4100a;
    color:#f5573b;
}

#agencyVisits .content {
    color:#f59a8c;
}

#agencyVisits .content h3 {
    font-weight:300;
    margin-top:30px;
}

#agencyVisits .content h3 a {
    font-weight:700;
    color:#f59a8c;
    text-decoration:underline;
    text-decoration-color:#f59a8c;
}

#agencyVisits .content h3 a:hover {
    color:#e9e9e9;
}

/*ABOUT SECTION*/
#bottomAbout{
    background-color: #393939;
    color:#e8e8e8;
}
#about .content {
    color:#e9e9e9;
}

/*CANVAS SECTION*/
#bottomCanvas{
    background-color: #171769; 
    color: #1e71b0;
}

#canvas .content h3{
    color: #55a0cf;
    font-weight: 300;
    margin-bottom:30px;
    max-width: 800px;
}

#canvas .content h1 {
    font-family: 'monitordisplay';
    font-size: 207px;
    text-decoration: underline;
    color: #55a0cf;
    letter-spacing: 5px;
    line-height: 169px;
    text-decoration-color: #55a0cf;
    margin-bottom:35px;
}

#canvas .content h1:hover {
    color:#e9e9e9;
}

#canvas .content a h3 {
    color: #55a0cf;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #55a0cf;
    margin-top: 50px;
}

#canvas .content a h3:hover {
    color: #e9e9e9;
}